NEXT_PUBLIC_SUPABASE_URL=https://qgnjgzmrakmzxhwjurta.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFnbmpnem1yYWttenhod2p1cnRhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxNjkyNDMsImV4cCI6MjEwMzc0NTI0M30.e_wHRsSoFEnICJwjMbIZ-M0rBhRQYCoubnaUW3a8OLI
